@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Gluten", cursive;
  font-display: optional;
  box-sizing: border-box;
}

.coiny {
  font-family: "Coiny", cursive;
}

.section {
  max-width: 1200px;
  height: 900px;
  margin: 0 auto;
  background-position: top;
  background-repeat: no-repeat;
}

.home-section {
  background-image: url(../images/Bg01.JPG);
}

.minting-section {
  background-image: url(../images/Bg02.JPG);
}

.pooky-story-section {
  background-image: url(../images/Bg03.JPG);
}

.pooky-token-section {
  background-image: url(../images/Bg04.JPG);
}

.pooky-roadmap-section {
  background-image: url(../images/Bg05.JPG);
}

.pooky-team-section {
  background-image: url(../images/Bg06.JPG);
}

.pooky-utility-page {
  background-image: url(../images/Bg07.JPG);
}

.p-logo {
  padding-top: 20px;
  padding-left: 165px;
}
