@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Gluten", cursive;
  font-display: optional;
  box-sizing: border-box;
}

.coiny {
  font-family: "Coiny", cursive;
}

.section {
  max-width: 1200px;
  height: 900px;
  margin: 0 auto;
  background-position: top;
  background-repeat: no-repeat;
}

.home-section {
  background-image: url(../images/bg1-1.JPG);
}

.pooky-story-section {
  background-image: url(../images/bg2.JPG);
}

.pooky-token-section {
  background-image: url(../images/bg3.JPG);
}

.pooky-roadmap-section {
  background-image: url(../images/bg4.JPG);
}

.pooky-team-section {
  background-image: url(../images//bg5.JPG);
}

.p-logo {
  padding-top: 20px;
  padding-left: 165px;
}
