@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Gluten", cursive;
  font-display: optional;
  box-sizing: border-box;
}

.coiny {
  font-family: "Coiny", cursive;
}

.section {
  max-width: 1200px;
  height: 900px;
  margin: 0 auto;
  background-position: top;
  background-repeat: no-repeat;
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.home-section {
  background-image: url(../images/Bg01.JPG);
}

.minting-section {
  background-image: url(../images/Bg02.JPG);
}

.pooky-story-section {
  background-image: url(../images/Bg03.JPG);
}

.pooky-token-section {
  background-image: url(../images/Bg04.JPG);
}

.pooky-roadmap-section {
  background-image: url(../images/Bg05.JPG);
}

.pooky-team-section {
  background-image: url(../images/Bg06.JPG);
}

.pooky-utility-page {
  background-image: url(../images/Bg07.JPG);
}

.minting-btn {
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  text-align: center;
  background-image: url(../images/Mint01.PNG);
}

.minting-btn:hover {
  background-image: url(../images/Mint02.PNG);
}
